container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  02_collectstatic:
    command: "django-admin.py collectstatic --no-input"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "syllable.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "syllable/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"

packages:
  yum:
    postgresql96-devel: []
    git: []
