// Colors
$primary-color: #008CBA;
$light-text-color: white;

// Fonts
$primary-font-family: 'Avenir', Helvetica, Arial, sans-serif;
$title-font-size: 16px;
$content-font-size: 13px;

// Spacing:
$main-section-max-width: 75%;

$grip-width: 300px;
$grip-height: 250px;
$grip-grid-height: 540px; // 2 * grip-height + margin

$button-width: 80px;

$large-margin: 20px;
$small-margin: 10px;
$tiny-margin: 5px;

$tiny-padding: 5px;

// Others:
$primary-border-radius: 10px;
